.footer {
    text-align: center;
    position: sticky;
    bottom: 0;
    left:0;
    /* z-index: -1; */
    width: 100%;
}

.text-small{
    font-size: .9rem;
}

.bg-body-gray{
    background-color: #f4f6f9;
}

.mb-6 {
    margin-bottom: 3rem;
}

.mt-3rem {
    margin-top: 3rem;
}

.select2 {
    width:100%!important;
}
/* para que los numeros de data tables de mostrar no se tapen */
.custom-select {
    padding-right: 1.5rem;
    padding-left: 1rem;
    font-size: .9rem;
}

.h-150 {
    height: 45rem;
}

.nav-active{
    background-color: red;
    padding-top:.2rem;
    padding-bottom:.2rem;
}